extends dashboard

block body
  h2 Dashboard 
  p Logged in as #{user.name} (#{user.username})
  br
  br
  #info.columns.is-centered
    .column.is-4.info-box 
      .text
        h1= collections.length
        h2= "Collection" + (collections.length == 1 ? "" : "s")
        a.button(href = "/admin/collections") Manage 
    .column.is-4.info-box 
      .text
        h1 36
        h2 Items Need Review
        a.button(href = "/admin/review") Review 
    .column.is-4.info-box 
      .text
        #pie(data-completed = documents[0].param_counts.completed data-raw = documents[0].param_counts.raw data-transcribed = documents[0].param_counts.transcribed data-verified = documents[0].param_counts.verified)
  hr 
  #collections.columns.is-multiline.is-centered.is-mobile 
    each collection in collections
      .collection.column.is-narrow 
        .img(style = "background-image:url('/" + collection.img + "')")
        h3= collection.name 
        br
        a.button.is-blue(href = "/browse?collection=" + collection._id + "&completed=all") Browse
        a.button(href = "/browse/collections/" + collection._id) About
    #create-collection.column.is-narrow
      .text
        i.fas.fa-plus
        h2 Create Collection
        
block scripts 
  script(src = "/bower_components/d3/d3.min.js")
  script(src = "/dist/JS/pie-min.js")
