extends dashboard

block body
  h2 Dashboard 
  p Logged in as #{user.name} (#{user.username})
  br
  br
  #info.columns.is-centered
    .column.is-4.info-box 
      .text
        h1= collections.length
        h2= "Collection" + (collections.length == 1 ? "" : "s")
        a.button(href = "/admin/collections") Manage 
    .column.is-4.info-box 
      .text
        h1= document_counts[0].param_counts.verified
        if document_counts[0].param_counts.verified == 1
          h2 Item Needs Review 
        else 
          h2 Items Need Review 
        a.button(href = "/admin/review") Review 
    .column.is-4.info-box 
      .text
        #pie(data-completed = document_counts[0].param_counts.completed data-raw = document_counts[0].param_counts.raw data-transcribed = document_counts[0].param_counts.transcribed data-verified = document_counts[0].param_counts.verified)
        br
        .legend 
          p
            span.bubble(style = "background-color: #f4f4f4")
            | Raw
          p
            span.bubble(style = "background-color: #BFE1B0")
            | Transcribed
          br
          p
            span.bubble(style = "background-color: #39A96B")
            | Verified
          p
            span.bubble(style = "background-color: #188977")
            | Completed
  if document_counts[0].param_counts.verified > 0 
    #browse(style = "visibility:hidden")     
      .level.item
        h3 Items that Need Review:
      each document in documents
        .item
          a(href = "/admin/review/" + document._id)
            img(src = "/uploads/" + document.img)
            p= document.name
            
block scripts 
  script(src = "/bower_components/d3/d3.min.js")
  script(src = "/bower_components/masonry-layout/dist/masonry.pkgd.min.js")
  script(src = "/dist/JS/admin-min.js")
