doctype html
html
  head
    - var title = "TranscribePA" //TODO: make this show the document title 
    include includes/head.pug
    
    link(href = "/libs/bulma-steps.min.css" rel = "stylesheet" type = "text/css")
    link(href = "/dist/CSS/document.css" rel = "stylesheet" type = "text/css")
  body
    #container
      .inverted
        include includes/nav.pug
        
      #body
        .notification.is-blue 
          button.delete(onclick = "$(this).parent().hide()") 
          p <strong>This document has not been marked as complete</strong>, meaning the transcription may be incomplete or incorrect. You can help us by <a href = "/transcribe">transcribing</a> or <a href = "/verify">verifying</a> documents.
          
        h1.is-size-2= document.name
        a.collection(href = "/browse?collection=" + collection._id + "&completed=all")= collection.name 
        br
        br
        .columns
          .column
            img(src = "/uploads/" + document.img)
          .column
            p.text!= document.lines.replace(/\n/g, "<br>")    
        hr
        br
        br
        ul.steps.has-content-centered 
          li.steps-segment(class = !document.transcribed ? "is-active" : "")
            span.steps-marker
              .icon
                i.fas.fa-upload
            .steps-content 
              p Uploaded
          li.steps-segment(class = (document.transcribed && !document.verified) ? "is-active" : "")
            span.steps-marker
              .icon
                i.fa.fa-keyboard
            .steps-content 
              p Transcribed
          li.steps-segment(class = (document.verified && !document.completed) ? "is-active" : "")
            span.steps-marker
              .icon 
                i.fas.fa-shield-alt
            .steps-content 
              p Verified 
          li.steps-segment(class = document.completed ? "is-active" : "") 
            span.steps-marker
              .icon 
                i.far.fa-thumbs-up
            .steps-content 
              p Approved
        br
        hr
        h3 Metadata 
        ul 
          li <strong>Handwritten</strong>: #{document.handwritten}
          li <strong>Languages</strong>: #{document.languages}
        br
    include includes/footer.pug
    
    script(src = "/bower_components/jquery/dist/jquery.min.js")
